.app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 8vh;
}

h1 {
  color: #f854df;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  margin-bottom: 10px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  color: #fff;
  background: #f854df;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s ease-out;
}

button:hover {
  background: #ff00d9;
  transform: scale(1.02);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #f854df;
}

